.notebook-container {  
    width: 950px;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 5rem;
    padding: 2rem 0;
    border-top: 4px solid #CCC;

  
  }

  .notebook-whole {
    width: 25rem;
    height: 25rem;
    margin-top: 3rem;
    overflow: scroll;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    /* transform-style: preserve-3d; */
    /* transition: 600ms; */
    cursor: pointer;
    /* transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 180)); */
   


  }

  .notebook-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

  }

.plus-circle {
  cursor: pointer;
}

.partOfSpeechUI {
  color: white;
  background-color: rgb(38, 96, 184);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 25px;
  font-size: 15px;
  border-radius: 3px;
}

.vocab-insideCard {
  margin: 10px;
}

.meaning-insideCard {
  margin: 10px;
}

.vocab-inner {
  font-family: 'Times New Roman', Times, serif;
}

.deleteBTN {
  cursor: pointer;
}


  .card:hover {
    --translate-y: -10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  } 
  
  /* .card.flip{
    --rotate-y: 180deg;
  
    
    
  }
  
  .card .front{
    text-align: center;
    
    
    
  }

 
  .card .front,
  .card .back
  {
    
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateX(180deg);
   
    
    
    
    
  } */

